<div class="field row" style="margin-bottom: 10px;">
  <div class="form-group">
    <label class="col-sm-1 control-label">Name</label>
    <div class="col-sm-4">
  	  <%= text_field_tag "flat[#{@row}][name]", nil, class: "flat_name form-control", placeholder: "Flat name", required: true %>
    </div>
    <label class="col-sm-2 control-label">Bed rooms</label>
    <div class="col-sm-2">
  	  <%= text_field_tag "flat[#{@row}][bed_room]", nil, class: "flat_bed_room form-control", placeholder: "No of rooms", required: true %>
    </div>
    <label class="col-sm-1 control-label">Sqft</label>
    <div class="col-sm-2">
  	  <%= text_field_tag "flat[#{@row}][sq_ft]", nil, class: "flat_sq_ft form-control", placeholder: "Sqft", required: true %>
    </div>
  </div>
</div>

<script type="text/javascript">
  // function remove_row(ele)
  // {
  //   var row_no = $(ele).attr("id");
  //   $("#"+row_no+"_div").remove();
  //   $("#"+row_no).remove();
  // }
</script>