<div class="bordered-box col-md-6">
<h4><u>Owner Details</u></h4>
</div>
<div class="bordered-box col-md-6">
<h4><u>Tenant Details</u></h4>
</div>
<div class="bordered-box col-md-6">
<h4><u>Water Readings</u></h4>
</div>
<!-- <div class="bordered-box col-md-6">
<h4><u>Owner Details</u></h4>
</div> -->