<div class="field row" style="margin-bottom: 10px;">
	<div class="form-group">
	  <label class="col-sm-2 control-label">Name</label>
	  <div class="col-sm-4">
  		<%= text_field_tag "floor[#{@row}]", nil, class: "floor_name form-control", placeholder: "Floor name", required: true %>
  	</div>
  </div>
</div>

<script type="text/javascript">
  // function remove_row(ele)
  // {
  //   var row_no = $(ele).attr("id");
  //   $("#"+row_no+"_div").remove();
  //   $("#"+row_no).remove();
  // }
</script>